@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

:root{
    --cor1:#55608B;
    --cor2:#7B5E99;
    --cor3:#DED43B;
    --cor4:#7E7E7E;
    --cor5:#000000;
}


body{
    background-color: linear-gradient(to bottom, var(--cor1), var(--cor5));
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}

header h1{
    margin-top: 20px;
    margin-bottom: 10px;    
}

main{
    background-color: white;
    max-width: 500px;
    padding: 20px;
    min-height: 500px;
    margin: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;    
}

