@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Shadows+Into+Light&family=Titan+One&display=swap');


:root{
    --cor1:#55608B;
    --cor2:#7B5E99;
    --cor3:#DED43B;
    --cor4:#7E7E7E;
    --cor5:#333953;
    --cor6:#000000;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-titulo: 'Delius', cursive;
    --fonte-conteudo: 'Shadows Into Light', cursive;
}

*{
    margin: 0;
    padding: 0;

}



body{
    background-color: darkgray;
    background-image: url(../imagens/wallpaper.jpg);
    background-size: cover;
}

header{
    background-image: linear-gradient(to bottom, var(--cor5) 5%, var(--cor6));
    color: white;
    padding: 20px;
    text-align: center;
    height: 200px;
}

header > h1{
    padding-top: 50px;
    font-family: var(--fonte-titulo);
    font-variant: small-caps;
    font-size: 8vw;    
}

header > p{
    font-family: var(--fonte-conteudo);
    font-size: 1.2em;
    padding-bottom: 50px;
    
    
}

main{
    background-color: white;
    max-width: 600px;
    padding: 20px;
    padding-top: 15vh;
    margin: auto;
}

main h2{
    font-family: var(--fonte-titulo);
    padding-bottom: 30px;
    margin: 40px 0px 40px 0px;
    color: var(--cor5);
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
}

main h3{
    margin: 40px -20px 40px -20px;
    font-family: var(--fonte-titulo);
    padding-bottom: 15px;
    color: var(--cor2);
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
    background-color: #c5c5c573;
    padding: 5px;
    padding-left: 20px;
}
main p{
    font-family: var(--fonte-conteudo);
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 2em;
    text-align: justify;
    text-indent: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

main div.nekronyx{
    width: 97vw;
    height: 97vh;
    background-image: url(../imagens/Nekronyx-main-g2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
    
aside{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: var(--cor2);
    font-family: var(--fonte-conteudo);
    font-size: 20px;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.349);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

aside a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

aside a:hover{
    text-decoration: underline;
    background-color: var(--cor5);
    padding: 5px;
    transition: 0.3s;
}

footer{
    background-color: black;
    color: white;
    text-align: center;    
}

