@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}

header h1{
    margin-top: 20px;
    margin-bottom: 10px;    
}

main{
    background-color: white;
    max-width: 500px;
    padding: 20px;
    min-height: 500px;
    margin: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;    
}

